.container{

    display:flex;
    border:8px solid black;
    justify-content: center;
    align-items: center;
     }
.box{
    height:200px;
    width:200px;
    background-color:blue;
    font-size: 40pt;
    align-items: center;
}